* {
  padding: 0;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: skyblue;
}

/*첫번째 몸통 snowman*/
.snowman1 {
  position: relative;
  top: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(190deg, #ecebeb, #ffffff);
  z-index: 2;
}

.face {
  width: 80px;
  height: 60px;
  /* background-color: yellow; */
  display: flex;
  position: relative;
  top: 30px;
  left: 1px;
}

.eye {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

.eye:nth-child(1) {float: left;}
.eye:nth-child(2) {float: right;}

.mouth {
  width: 40px;
  height: 8px;
  background-color: red;
  position: absolute;
  top: 25px;
  right: 40px;
  border-radius: 10px 10px 10px 10px;
}

/*두번째 몸*/
.snowman2 {
  width: 120px;
  height: 120px;
  background: linear-gradient(190deg, #ecebeb, #ffffff);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.arm {
  position: relative;
  z-index: 1;
}

.arm1 {
  width: 80px;
  height: 3px;
  background-color: black;
  position: relative;
  left: 80px;
  top: 20px;
  transform: rotate(-20deg);
}

.arm2 {
  width: 80px;
  height: 3px;
  background-color: black;
  position: relative;
  top: 20px;
  right: 80px;
  transform: rotate(20deg);
}

.button {

  position: relative;
  z-index: 1;
}

.btn {
  position: relative;
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 25px;
  margin-bottom: 10px;
}

/*3번째 몸통*/
.snowman3 {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(140deg, #ecebeb, #ffffff);
  bottom: 20px;
}

.hat {
  position: relative;
  z-index: 3;
}

.hat2 {
  width: 90px;
  height: 10px;
  background-color: black;
  position: relative;
  top: 30px;
  left: 10px;
  border-radius: 0 0 5px 5px;
  transform: rotate(10deg);
}

.hat1 {
  width: 50px;
  height: 70px;
  background-color: black;
  position: relative;
  top: 35px;
  left: 20px;
  border-radius: 5px ;
  transform: rotate(10deg);
}