.caalculater-container {
  border: 1px solid blue;
  width: 400px;
  height: 720px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.calculater-display {
  border: 1px solid red;
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2.4rem;
  padding: 20px;
}

.calculater-buttons {
  border: 1px solid black;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.calculator-button-item {
  width: 25%;
}

.zero {
  flex-grow: 1;
}